@tailwind base;
@tailwind components;
@tailwind utilities;


.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.app-container h1 {
  color: var(--green);
  padding: 1rem;
}

#searchBar {
  display: flex;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-right: 20px;
  padding-left: 20px;
  border: solid;
  border-radius: 25px;
  background-color: white;
}

.button {
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  border: solid;
  margin-left: 5px;
  padding-top: 5px;
  padding-bottom: 5px;
  border-radius: 25px;
}

.button:hover {
  background-color: lightgray;
}

.select {
  margin-right: 5px;
}

.carPosts {
  border: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 25px;
  width: 50%;
}

#createCarPosts{
  border: solid;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  border-radius: 25px;
  width: 50%;
}

#createCarPosts, p {
  padding: 10px;
  padding-left: 10px;
}

#select1, #select2, #select3 {
  border: solid;
}

input[type=text] {
  border: solid;
  border-radius: 25px;
}

option {
  border: solid;
  padding: 5px;
}

#createpostbutton {
  text-align: center;
  margin-bottom: 15px;
}

.app-container h2 {
  font-size: xx-large;
}

.app-container h3 {
  font-size: xx-large;
}
.app-container h4 {
  font-size: x-large;
}

#deletepostbutton {
  text-align: center;
}

#deletebutton:hover {
  background-color: lightcoral;
  color: white;
}

#editbutton:hover {
  background-color: lightblue;
  color: white;
}

.priceandmilesdiv {
  margin-top: 5px;
  display: flex;
  justify-content: space-between;
}

#makeandmodeldiv {
  font-size: smaller;
  display: flex;
  justify-content: space-between;
}

.cardescription {
  color: gray;
}

.typeandcolordiv {
  display: flex;
  justify-content: space-between;
}

#infoline {
  margin-bottom: 20px;
}

#searchDiv{
  justify-content: left;
}

.carPhoto {
  margin: auto;
}

#postedPhotos {
  text-align: center;
  padding-top: 5px;
  margin: 5px;
}

#editCarPhoto{
  padding: 10px;
}

#editCarPhotoDiv{
  border: solid;
  margin: 20px;
  padding: 5px;
}

#carPostsFilterDiv{
  display: flex;

}

#carPostsDiv{
  display: flex;
  justify-content: center;
}

#postsDisplay{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.carPost {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px;
  width: 300px;
  height: 500px;
  border: solid;
  padding: 20px;
  border-color: lightgrey;
  border-radius: 25px;
  background-color: white;
}

.carPost:hover {
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#addToCartButton {
  align-items: flex-end;
  text-align: center;
}

#addToCartDiv{
  margin-top: 15px;
  text-align: center;
}

#addToCartButton{
  background-color: rgb(69, 130, 69);
  color: white;
  font-style: italic;
}

#addToCartButton:hover{
  background-color: rgb(141, 205, 141);
  color: white;
  font-style: italic;
}

#deleteFromCartButton{
  background-color: rgb(201, 85, 79);
  color: white;
  font-style: italic;
}

#deleteFromCartButton:hover {
  background-color: rgb(236, 147, 142);
  color: white;
  font-style: italic;
}

#removeFromCartDiv{
  margin-top: 15px;
  text-align: center;
}

